#Test{
position: absolute;
left: 4%;
top: 4%;
height: 40%;
width: 20%;
background: yellow;	
}


.FreestyleNotes
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: wheat;	
}


.FreestyleNotes .menu
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 32px;
border-bottom: solid 1px rgb(140,122,122);
background: gainsboro;		
}

.FreestyleNotes .menu .item
{
position: relative;
height: 20px;
width: 48px;
padding-left: 3px;
padding-right: 3px;
margin-top: 6px;
margin-left: 4px;
background: darkgray;	
color: white;
text-align: center;
font-family: Arial;
font-size: 14px;
cursor: pointer;
}


.FreestyleNotes .menu .item:hover
{
background: darkorange;	
}


.FreestyleNotes .field
{
width: 100%;
height: 100%;
left: 0;
top: 62px;
background: rgb(220,240,250);	
color: black;
}


.FreestyleNotes textarea
{
margin-top: 40px;
font-size: 16px;
background: white;
width: 98%;
height: 80%;
margin-left: 1%;
outline: none;
border: none;
z-index: 5;
color: black;	
}


.FreestyleNotes #submit
{
	
}
